<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>contentview</key>
			<string>UITableView</string>
			<key>title</key>
			<string>要闻</string>
		</dict>
		<dict>
			<key>contentview</key>
			<string>UITableView</string>
			<key>title</key>
			<string>国内</string>
		</dict>
		<dict>
			<key>contentview</key>
			<string>UITableView</string>
			<key>title</key>
			<string>国际</string>
		</dict>
		<dict>
			<key>contentview</key>
			<string>UITableView</string>
			<key>title</key>
			<string>社会</string>
		</dict>
		<dict>
			<key>contentview</key>
			<string>UITableView</string>
			<key>title</key>
			<string>娱乐</string>
		</dict>
		<dict>
			<key>contentview</key>
			<string>UIView</string>
			<key>title</key>
			<string>科技</string>
		</dict>
		<dict>
			<key>contentview</key>
			<string>UITableView</string>
			<key>title</key>
			<string>北京</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>contentview</key>
			<string>UITableView</string>
			<key>title</key>
			<string>汽车</string>
		</dict>
		<dict>
			<key>contentview</key>
			<string>UIView</string>
			<key>title</key>
			<string>图片</string>
		</dict>
		<dict>
			<key>contentview</key>
			<string>UITableView</string>
			<key>title</key>
			<string>数码</string>
		</dict>
		<dict>
			<key>contentview</key>
			<string>UIView</string>
			<key>title</key>
			<string>动漫</string>
		</dict>
		<dict>
			<key>contentview</key>
			<string>UITableView</string>
			<key>title</key>
			<string>电影</string>
		</dict>
		<dict>
			<key>contentview</key>
			<string>UITableView</string>
			<key>title</key>
			<string>音乐</string>
		</dict>
		<dict>
			<key>contentview</key>
			<string>UITableView</string>
			<key>title</key>
			<string>体育</string>
		</dict>
	</array>
</array>
</plist>
